extends ../layout

block content
    section.banner-course
        .container
            h1 #{banner.title}
            .banner-content-wrapper
                .banner-content
                    //.img-banner-wrapper
                    //    img(src='/img/' + banner.﻿content.icon)
                    //.banner-text
                    //    h1 title
                    //    p desc
                    //    .date-wrapper
                    //        p.start start_date
                    //        p.schedule durations
                    //        p.mentor mentor name
                    //        p.prices prices
                    //        a.contact-btn(href=banner.﻿content.button.link) #{banner.﻿content.button.text}

