extends ../layout

block content
    div.error-wrapper
        img(src="/img/logo.png" class="logo")
        h1
          span 4
          |0
          span 4
        div.text-message
        h3 This page have not been created... or something went wrong...
        div.navigation-wrapper
        a(href="javascript:history.back()")
          i(class="fa fa-arrow-left")
          span Come back
        a(href="/")
          span Go to main
          i(class="fa fa-arrow-right")
