extends ../layout

block content
    section.banner
        .animated.bounceInLeft.fast
            .container
                .row
                    .banner__content
                        h1 JSDADDY
                        p Reach your business goals with awesome apps in a cost-effective and timely manner, using lean philosophy principles.
                            principles.
                        a(href="#popup-form" class="btn contact_us_btn") Contact Us
    section.services#services
        .container
            .row
                .short-header SERVICES
                h3 WEB MOBILE SOLUTIONS. ENTERPRISE APPS PORTALS
                .sub-header Full-cycle servicing that covers every
            .row.services-items-wrapper
                .service.col-md-4
                    .item.animated.wow.fadeInLeft.faster
                        a(href='#web-development')
                            .item__icon
                                img(src="img/web.svg", alt="web")
                            h5 Advanced WEB
                            p  Productive, engaging and reliable solutions for business outcomes you deserve.
                .service.col-md-4
                    .item.animated.wow.fadeInUp.faster
                        a(href='#')
                            .item__icon
                                img(src="img/smartphone.svg", alt="mobile app")
                            h5 Advanced APP
                            p Productive, engaging and reliable solutions for business outcomes you deserve.
                .service.col-md-4
                    .item.animated.wow.fadeInRight.faster
                        a(href='#')
                            .item__icon
                                img(src="/img/cloud.svg", alt="cloud")
                            h5 Advanced CLOUD
                            p Productive, engaging and reliable solutions for business outcomes you deserve.
    section.dev-process#dev-process
        .container
            .row
                .short-header Process
                h3 Development Process
                .sub-header Do you have an idea?
            .row
                .step-wrapper
                    .left-col
                        .step.planing.animated.wow.fadeInLeft.faster
                            .text-wrap
                                h6 PLANNING
                                p Perfect plan will kick off a project flawlessly
                            .ico-wrap
                                span.icon-planinig
                        .step.analysis.animated.wow.fadeInLeft.faster
                            .text-wrap
                                h6 ANALYSIS
                                p Analysis is an important step to proceed further to the next point
                            .ico-wrap
                                span.icon-analysis
                        .step.stack.animated.wow.fadeInLeft.faster
                            .text-wrap
                                h6 Design
                                p Setting a standard and attempting to stick to it
                            .ico-wrap
                                span.icon-design
                    .center-col
                        img(src='img/construction_project_plan_building_architect_design_develop-83_icon-icons.com_60220.png', alt='asd')
                    .right-col
                        .step.architecture.animated.wow.fadeInRight.faster
                            .ico-wrap
                                span.icon-implementation
                            .text-wrap
                                h6 IMPLEMENTATION
                                p Developing software and a pilot study to check it
                        .step.test.animated.wow.fadeInRight.faster
                            .ico-wrap
                                span.icon-test
                            .text-wrap
                                h6 Testing
                                p Checking applications for errors and bugs if there are any
                        .step.deployment.animated.wow.fadeInRight.faster
                            .ico-wrap
                                span.icon-MAINTENANCE
                            .text-wrap
                                h6 MAINTENANCE
                                p Changing the existing functionality is a regular process
    section.technologies#technologies
        .container
            .row
                .short-header technologies
                h3 We use only advanced technologies
                .sub-header Full-cycle servicing
            .row.animate.wow.fadeInUp.fast
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img1.png', alt="node")
                        span node
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img2.png', alt="react")
                        span react
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img3.png', alt="angular")
                        span angular
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img4.png', alt="css3")
                        span css3
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img5.png', alt="rxjava")
                        span rxjava
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img6.png', alt="redux")
                        span redux
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img7.png', alt="musql")
                        span musql
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img8.png', alt="docker")
                        span docker
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img9.png', alt="Vue")
                        span Vue
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img10.png', alt="mocha")
                        span mocha
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img11.png', alt="flutter")
                        span flutter
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img12.png', alt="react native")
                        span react native
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img13.png', alt="karma")
                        span karma
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img14.png', alt="jasmine")
                        span jasmine
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img15.png', alt="Jest")
                        span Jest
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img16.png', alt="Type Script")
                        span Type Script
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img17.png', alt="HTML5")
                        span HTML5
                .col-3.col-md-4.col-lg-2
                    .icon
                        img(src='img/img18-1.png', alt="Mongo DB")
                        span Mongo DB
    section.advantages-wrapper
        .container
            .row
                .short-header advantages
                h3 Why should you choose us?
                .sub-header Full-cycle servicing that covers every aspect of app production and implementation.
            .row
                .advantages
                    .advantages__item.animated.wow.fadeInLeft.faster
                        .advantages__item-icon
                            img(src="img/ico-tailor.png", alt="tailor")
                        .advantages__item-text.tailer
                            h6 Tailor made
                            p Any discontent or difficulty of the client that appear during the development process can be improved while the formulation of the software with customer permission which is the most significant benefit of a JavaScript development company.
                    .advantages__item.animated.wow.fadeInRight.faster
                        .advantages__item-icon
                            img(src="img/ico-integration.png", alt="integration")
                        .advantages__item-text.integration
                            h6 Integration
                            p Businesses in need of numerous software programs can enjoy the benefits of operating on one custom software application designed using JavaScript to integrate multiple processes.
                    .advantages__item.animated.wow.fadeInLeft.faster
                        .advantages__item-icon
                            img(src="img/ico-support.png", alt="support")
                        .advantages__item-text.support
                            h6 Support
                            p You will have full access to technical support by our JavaScript team that was involved in the development process of your application, so all your encountered problems are resolved in an efficient manner by our company.
                    .advantages__item.animated.wow.fadeInRight.faster
                        .advantages__item-icon
                            img(src="img/ico-cost.png", alt="Price")
                        .advantages__item-text.price
                            h6 Price formation
                            p The long-term benefits of investing in developing custom business applications are far more valuable than purchasing a ready-made product. On top of this, imagine additional costs you would incur when paying for licenses, be it short or long term or implementation, when you buy off shelf products.
                    .advantages__item.animated.wow.fadeInLeft.faster
                        .advantages__item-icon
                            img(src="img/ico-maintenance.png", alt="maintenance")
                        .advantages__item-text.maintenance
                            h6 Maintenance
                            p With custom application development your JavaScript based software is maintained for as long as you require. With off-the-shelf software your business is at the mercy of the software development company you are purchasing from.
                    .advantages__item.animated.wow.fadeInRight.faster
                        .advantages__item-icon
                            img(src="img/ico-quality.png", alt="quality")
                        .advantages__item-text.quality
                            h6 Quality
                            p Our development company creates stable and scalable JavaScript applications. Using test coverage is a part of our daily work. High quality of the solution is one of the things that we care for more than our clients.
    section#testimonials
        .container
            .row.animate.wow.flipInX
                .short-header testimonials
                h3 Our Clients Say
                .sub-header  Full-cycle servicing that covers every aspect
            .row
                .testimonials-wrapper
                    .item
                        .item__photo
                            img(src="/img/client-photo-1.jpeg" alt="asd")
                        .item__name Oleg Semiglazov
                        .item__position CTO, Uran Company
                        a.item__linkedin.fa.fa-linkedin-square(href="https://www.linkedin.com/in/yanis-onkes/", tabindex="0")
                        .item__quotes
                            p JSDaddy has provided audit services in the field of IT for my company. About this  service I can  say the following: professional, reliable, responsible, available any time of the day.  I  definitely recommend it.
                    .item
                        .item__photo
                            img(src="/img/konstantin.jpg" alt="asd")
                        .item__name Konstantin Korotych
                        .item__position CEO and founder Onixcat.com, Onixcat
                        a.item__linkedin.fa.fa-linkedin-square(href="https://www.linkedin.com/in/yanis-onkes/", tabindex="0")
                        .item__quotes
                            p We needed JavaScript developers for the Planarsys project. Appealed to the guys from JSDaddy  and the result met all expectations. These guys are sharp in high quality of the codebase,  project management and efficiency. The speed of work allowed us to met the deadline,  and  release the product in time and start selling our product. The software part of the  product  is on the top and my customers are happy.Guys, you’re awesome and you know the ropes! I  hope  we will work side by side again!
                    .item
                        .item__photo
                            img(src="/img/client-photo-1.jpeg" alt="asd")
                        .item__name Oleg Semiglazov
                        .item__position CTO, Uran Company
                        a.item__linkedin.fa.fa-linkedin-square(href="https://www.linkedin.com/in/yanis-onkes/", tabindex="0")
                        .item__quotes
                            p JSDaddy has provided audit services in the field of IT for my company. About this service I can say the following: professional, reliable, responsible, available any time of the day. I definitely recommend it.
                    .item
                        .item__photo
                            img(src="/img/client-photo-1.jpeg" alt="asd")
                        .item__name Oleg Semiglazov
                        .item__position CTO, Uran Company
                        a.item__linkedin.fa.fa-linkedin-square(href="https://www.linkedin.com/in/yanis-onkes/", tabindex="0")
                        .item__quotes
                            p JSDaddy has provided audit services in the field of IT for my company. About this service I can say the following: professional, reliable, responsible, available any time of the day. I definitely recommend it.
                    .item
                        .item__photo
                            img(src="/img/client-photo-1.jpeg" alt="asd")
                        .item__name Oleg Semiglazov
                        .item__position CTO, Uran Company
                        a.item__linkedin.fa.fa-linkedin-square(href="https://www.linkedin.com/in/yanis-onkes/", tabindex="0")
                        .item__quotes
                            p JSDaddy has provided audit services in the field of IT for my company. About this service I cansay the following: professional, reliable, responsible, available any time of the day.I definitely recommend it. 
    .scrollup
        i(class="fa fa-chevron-up",aria-hidden="true")

    form#popup-form.mfp-hide.white-popup-block.popup-form
        h3 Contact Us
        .popup-form__input-wrapper
            label(for="name") Name
            input#name(name="name", type="text")
            p.popup-form__input-wrapper_invalid-message#name_error This field can not be empty
        .popup-form__input-wrapper
            label(for="email") Email
            input#email(name="email", type="email")
            p.popup-form__input-wrapper_invalid-message#email_error This field must contain valid email
        .popup-form__input-wrapper
            label(for="Textarea") Message
            textarea#message
            p.popup-form__input-wrapper_invalid-message#textarea_error This field can not be empty
        .popup-form__btn-wrapper
            button.btn#form__submit Contact Us
        .success-message
            .success-message__icon
                i.fa.fa-check(aria-hidden="true")
            span Success!