<!DOCTYPE html>
<html>
<head>
  <title>Js Daddy</title>
  <meta charset="utf-8"/>
  <meta name="description" content=""/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta property="og:image" content="path/to/image.jpg"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="shortcut icon" href="" type="image/x-icon"/>
  <link rel="apple-touch-icon" href=""/>
  <link rel="apple-touch-icon" sizes="72x72" href=""/>
  <link rel="apple-touch-icon" sizes="114x114" href=""/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/site.min.css">
  <link rel="icon" href="/images/favicon.png">
</head>
<body>
{{#header}}
<header id="home">
  <div class="container">
    <div class="row content-header-wrapper">
      <div class="logo">
        <a href="/">
          <img src="/img/logo.png" alt="js daddy"/>
        </a>
      </div>
      <div class="navigation-wrapper">
        <div class="lang-checker">
          <ul class="select">
            {{#languages}}
              <li class={{active}}>
                <a href={{href}}>{{name}}</a>
              </li>
            {{/languages}}
          </ul>
        </div>
        <nav>
          <ul id="menu">
            {{#menu}}
              <li><a href={{link}}>{{title}}</a></li>
            {{/menu}}
          </ul>
        </nav>
        <div class="right-header-block">
          <div class="tel-wrapper">
            {{#phones}}
              <a href="{{phonesHref}}">{{phones}}</a>
            {{/phones}}
          </div>
          <div class="contact-btn-wrapper">
            {{#headerBtn}}
              <a class="contact-btn scroll" href="{{btnHref}}">{{btntext}}</a>
            {{/headerBtn}}
          </div>
        </div>
      </div>
      <div class="nav-burger">
        <div class="line"></div>
        <div class="text">Menu</div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</header>
{{/header}}
<section id="banner" class="banner">
  <div class="container">
    <div class="banner-content-wrapper">
      <div class="banner-content">
        {{#banner}}
          <h1>{{bannerTitle}}</h1>
          <p>{{bannerDesc}}</p>
          <a class="contact-btn" href="{{btnHref}}">{{bannerBtn}}</a>
        {{/banner}}
      </div>
    </div>
  </div>
</section>
<section id="aboutSchool" class="about-school">
  <div class="container">
    {{#aboutSchool}}
      <div class="header-section-wrapper">
        <h3>{{sectionTitle}}</h3>
        <div class="background-section-text">{{sectionTitle}}</div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="{{aboutSchoolImg}}" alt=""/>
        </div>
        <div class="col-lg-8">
          {{#aboutSchoolText}}
            <p>{{text}}</p>
          {{/aboutSchoolText}}
        </div>
      </div>
    {{/aboutSchool}}
  </div>
</section>
<section id="courses" class="courses">
  <div class="container">
    {{#courses}}
      <div class="header-section-wrapper">
        <h3>{{sectionTitle}}</h3>
        <div class="background-section-text">{{sectionTitle}}</div>
      </div>
      <div class="row">
        {{#courseItems}}
          <div class="col-lg-4">
            <div class="item-wrapper">
              <div class="start-course">{{start_date}}</div>
              <img src="/img/{{logo}}" alt="{{title}}"/>
              <h3 class="name">{{title}}</h3>
              <div class="button-block">
                <h4>{{sub_title}}</h4>
                <span class="prices">{{price}}</span>
                <div class="duration">{{duration}}</div>
              </div>
              <a class="link" href="{{link_href}}">{{link_text}}<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        {{/courseItems}}
      </div>
    {{/courses}}
  </div>
</section>
<section id="ourTeaches" class="our-teaches">
<div class="container">
  {{#ourTeachers}}
    <div class="header-section-wrapper">
      <h3>{{sectionTitle}}</h3>
      <div class="background-section-text">{{sectionTitle}}</div>
    </div>
  <div class="slider-teaches">
    {{#sliderTeachers}}
      <div class="item-wrapper">
        <div class="photo-wrapper">
          <img src=/img/{{photo}} alt=""/>
        </div>
        <div class="name"> {{firstName}} {{lastName}}</div>
      <div class="position">{{position}}</div>
      <div class="about">
        <p>{{about}}</p>
      </div>
    </div>
    {{/sliderTeachers}}
  </div>
  {{/ourTeachers}}
  </div>
</section>
<section id="contacts" class="contacts">
  <div class="container">
    {{#contacts}}
      <div class="header-section-wrapper">
        <h3>{{sectionTitle}}</h3>
        <div class="background-section-text">{{sectionTitle}}</div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="map-wrapper"></div>
        </div>
      </div>
      <div class="row">
        <div class="contact-form-wrapper">
          {{#courses}}
            <contacts-form courses="{{courseItems1}}"></contacts-form>
          {{/courses}}
        </div>
      </div>
      <div class="row">
        <div class="contact-details">
          {{#contactDetails}}
            <div class="email-block">
              <ul>
                {{#emailBlock}}
                  <li class="{{itemClass}}"><a href="{{itemHref}}">{{itemText}}</a></li>
                {{/emailBlock}}
              </ul>
              <div class="social">
                <ul>
                  {{#social}}
                    <li><a class="{{soc}}" href="{{link}}"><i class="fa {{icon}}"></i></a></li>
                  {{/social}}
                </ul>
              </div>
            </div>
            <div class="tel-block">
              <ul>
                {{#telBlock}}
                  <li class="{{itemClass}}"><a href="{{itemHref}}">{{itemText}}</a></li>
                {{/telBlock}}
              </ul>
            </div>
            <div class="address-block">
              <ul>
                <li>{{city}}</li>
                <li>{{address}}</li>
              </ul>
            </div>
          {{/contactDetails}}
        </div>
      </div>
    {{/contacts}}
  </div>
</section>
<footer class="footer">
  {{#footer}}
    <div class="copyright">{{copyright}}</div>
  {{/footer}}
</footer>
<div class="notification none">
  <div class="notification-message">
    <div class="logo">
      <img src="/img/logo-notification.png" alt="">
    </div>
    <div class="message">
      Your application is accepted, thank you! We will send more information to your mail
      <div class="close-btn">

      </div>
    </div>
  </div>
</div>
<script src="/js/bundle.min.js"></script>
<script src="/js/contacts-form.js"></script>

</body>
</html>