<!DOCTYPE html>
<html>
<head>
  <title>Js Daddy</title>
  <meta charset="utf-8"/>
  <meta name="description" content=""/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta property="og:image" content="path/to/image.jpg"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="shortcut icon" href="" type="image/x-icon"/>
  <link rel="apple-touch-icon" href=""/>
  <link rel="apple-touch-icon" sizes="72x72" href=""/>
  <link rel="apple-touch-icon" sizes="114x114" href=""/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/site.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="icon" href="/images/favicon.png">
</head>
<body>
<div>
  <header id="home">
    <div class="container">
      <div class="row content-header-wrapper">
        <div class="logo"><a href="#banner"><img src="/img/logo.png" alt="js daddy"></a></div>
        <div class="navigation-wrapper">
          <div class="lang-checker">
            <ul class="select">
              {{#languages}}
                <li class={{active}}>
                  <a href={{href}}>{{name}}</a>
                </li>
              {{/languages}}
            </ul>
          </div>
          <nav>
            <ul id="menu">
              {{#menu}}
                <li><a href={{link}}>{{title}}</a></li>
              {{/menu}}
            </ul>
          </nav>
          <div class="right-header-block">
            <div class="tel-wrapper">

              {{#phones}}
                <a href="tel:">{{tel}}</a>
              {{/phones}}

            </div>
            <div class="contact-btn-wrapper">
              <a class="contact-btn scroll" href="#contacts">Записаться</a>
            </div>
          </div>
        </div>
        <div class="nav-burger">
          <div class="line"></div>
          <div class="text">Menu</div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </header>
  <section class="banner-course">
    <div class="container">
      <div class="banner-content-wrapper">
        <div class="banner-content">
          <div class="img-banner-wrapper">
            <img src="/img/angular-logo-banner.png"/>
          </div>
          <div class="banner-text">
            <h1>Курс Angular</h1>
            <p>Курс посвящён профессиональной разработке веб-приложений с помощью Angular.</p>
            <div class="date-wrapper">
              <p class="start">Старт курса 18 марта</p>
              <p class="schedule">
                2 РАЗА В НЕДЕЛЮ 19.00-22.00
              </p>
              <p class="mentor">Преподаватель: Лимаренко Денис</p>
              <p class="prices">Стоимость: 5000 грн</p>
            </div>
            <a class="contact-btn" href="#contacts">Записаться</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-course">
    <div class="container">
      <div class="header-section-wrapper">
        <h3>О курсе</h3>
        <div class="background-section-text">About curse</div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <img src="/img/about-angular.png" alt="">
        </div>
        <div class="col-lg-7">
          <p>
            Курс даст возможность быстро начать создавать свои приложения с использованием современного
            фреймворка - Angular.
            В процессе прохождения курса шаг за шагом вы сделаете реальное приложение, и хорошо разберетесь
            в специфике Angular.
            Вы будете получать информацию, писать код, показывать его, получать обратную связь и советы, и
            затем – двигаться дальше.
          </p>
          <p>
            В конце курсов мы приглашаем HR специалиста, который помогает вам правильно составить резюме и
            готовит вас к собеседованию. На этом занятии вы разберете все нюансы, возникающие при приеме на
            работу. Будете готовы к самым неожиданным вопросам HRов. Узнаете как превратить свои недостатки
            в
            преимущества и подать свою кандидатуру в выгодном свете.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="course-program-wrapper">
    <div class="container">
      <div class="header-section-wrapper">
        <h3>Программа курса</h3>
        <div class="background-section-text">Сourse program</div>
      </div>
      <div class="program-wrap">
        <div class="row">
          <div class="col-lg-4">
            <ul>
              <li>1. Знакомство и обзор фреймворка Angular</li>
              <li>Быстрый старт с angular-cli</li>
              <li>Введение в Typescript, базовым синтаксис, tslint</li>
              <li>Обзор архитектуры</li>
              <li>Разбор модулей</li>
              <li>Разработка простого компонента</li>
              <li>Специфика синтаксиса шаблонов Angular, отображение данных</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>2. Компоненты</li>
              <li>Знакомство с компонентами</li>
              <li>Вложенные компоненты</li>
              <li>Общение данных между компонентами</li>
              <li>Жизненный цикл компонента</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>3. Директивы, Пайпы</li>
              <li>Применение директив из коробки (ngIf, ngClass, ngFor..)
              </li>
              <li>Создание своей атрибутной директивы</li>
              <li>Pipe и фильтрация данных
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>1. Знакомство и обзор фреймворка Angular</li>
              <li>Быстрый старт с angular-cli</li>
              <li>Введение в Typescript, базовым синтаксис, tslint</li>
              <li>Обзор архитектуры</li>
              <li>Разбор модулей</li>
              <li>Разработка простого компонента</li>
              <li>Специфика синтаксиса шаблонов Angular, отображение данных</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>1. Знакомство и обзор фреймворка Angular</li>
              <li>Быстрый старт с angular-cli</li>
              <li>Введение в Typescript, базовым синтаксис, tslint</li>
              <li>Обзор архитектуры</li>
              <li>Разбор модулей</li>
              <li>Разработка простого компонента</li>
              <li>Специфика синтаксиса шаблонов Angular, отображение данных</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>1. Знакомство и обзор фреймворка Angular</li>
              <li>Быстрый старт с angular-cli</li>
              <li>Введение в Typescript, базовым синтаксис, tslint</li>
              <li>Обзор архитектуры</li>
              <li>Разбор модулей</li>
              <li>Разработка простого компонента</li>
              <li>Специфика синтаксиса шаблонов Angular, отображение данных</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>1. Знакомство и обзор фреймворка Angular</li>
              <li>Быстрый старт с angular-cli</li>
              <li>Введение в Typescript, базовым синтаксис, tslint</li>
              <li>Обзор архитектуры</li>
              <li>Разбор модулей</li>
              <li>Разработка простого компонента</li>
              <li>Специфика синтаксиса шаблонов Angular, отображение данных</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>1. Знакомство и обзор фреймворка Angular</li>
              <li>Быстрый старт с angular-cli</li>
              <li>Введение в Typescript, базовым синтаксис, tslint</li>
              <li>Обзор архитектуры</li>
              <li>Разбор модулей</li>
              <li>Разработка простого компонента</li>
              <li>Специфика синтаксиса шаблонов Angular, отображение данных</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>1. Знакомство и обзор фреймворка Angular</li>
              <li>Быстрый старт с angular-cli</li>
              <li>Введение в Typescript, базовым синтаксис, tslint</li>
              <li>Обзор архитектуры</li>
              <li>Разбор модулей</li>
              <li>Разработка простого компонента</li>
              <li>Специфика синтаксиса шаблонов Angular, отображение данных</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>1. Знакомство и обзор фреймворка Angular</li>
              <li>Быстрый старт с angular-cli</li>
              <li>Введение в Typescript, базовым синтаксис, tslint</li>
              <li>Обзор архитектуры</li>
              <li>Разбор модулей</li>
              <li>Разработка простого компонента</li>
              <li>Специфика синтаксиса шаблонов Angular, отображение данных</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="what-yor"></section>

  <section id="contacts" class="contacts">
    <div class="container">
      <div class="header-section-wrapper">
        <h3>Контакты</h3>
        <div class="background-section-text">Contacts school</div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="map-wrapper"></div>
        </div>
      </div>
      <div class="row">
        <div class="contact-form-wrapper">
          <h6>СВЯЗАТЬСЯ С НАМИ</h6>
          <form action="">
            <div class="input-top-wrapper">
              <div class="input-wrapper">
                <input placeholder="Имя" type="text">
                <span class="valid-message">sadasdas sadadsad asdasdasas</span>
              </div>
              <div class="input-wrapper">
                <input placeholder="E-mail" type="email">
              </div>
              <div class="input-wrapper">
                <input placeholder="Телефон" type="tel">
              </div>
            </div>
            <textarea placeholder="Сообщение"></textarea>
            <button class="contact-btn">Send a message</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="contact-details">
          <div class="email-block">
            <ul>
              <li class="email"><a href="mailto:hello@jsdaddy.com">hello@jsdaddy.com</a></li>
              <li class="email"><a href="mailto:hello@jsdaddy.com">hello@jsdaddy.com</a></li>
            </ul>
            <div class="social">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="tel-block">
            <ul>
              <li class="tel"><a href="tel:+35623157586">+38 (096) 226 40 32</a></li>
              <li class="tel"><a href="tel:+35623157586">+38 (095) 202 46 03</a></li>
            </ul>
          </div>
          <div class="address-block">
            <ul>
              <li>Kharkiv, Ukraine</li>
              <li>67 Highhill Street., Apt. 20</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="footer">
  <div class="copyright">
    Copywriting &#9400; 2018 JSdaddy
  </div>
</footer>
<div class="notification none">
  <div class="notification-message">
    <div class="logo">
      <img src="/img/logo-notification.png" alt="">
    </div>
    <div class="message">
      Your application is accepted, thank you! We will send more information to your mail
      <div class="close-btn">

      </div>
    </div>
  </div>
</div>
<script src="/js/bundle.min.js"></script>
</body>
</html>