<!DOCTYPE html>
<html>
<head>
  <title>Js Daddy</title>
  <meta charset="utf-8"/>
  <meta name="description" content=""/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta property="og:image" content="path/to/image.jpg"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="shortcut icon" href="" type="image/x-icon"/>
  <link rel="apple-touch-icon" href=""/>
  <link rel="apple-touch-icon" sizes="72x72" href=""/>
  <link rel="apple-touch-icon" sizes="114x114" href=""/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/site.min.css">
  <link rel="icon" href="/images/favicon.png">
</head>
<body>
<header id="home">
  <div class="container">
    <div class="row content-header-wrapper">
      <div class="logo">
        <a href="/#banner">
          <img src="img/logo.png" alt="js daddy"/>
        </a>
      </div>
      <div class="navigation-wrapper">
        <nav>
          <ul id="menu">
            {{#menu}}
              <li><a href={{link}}>{{title}}</a></li>
            {{/menu}}
          </ul>
        </nav>
        <div class="right-header-block">
          <div class="tel-wrapper">
            {{#﻿phones}}
              <a href="{{﻿phonesHref}}">{{﻿phones}}</a>
            {{/﻿phones}}
          </div>
          <div class="contact-btn-wrapper">
            {{#﻿headerBtn}}
              <a class="contact-btn scroll" href="{{﻿btnHref}}">{{﻿btntext}}</a>
            {{/﻿headerBtn}}
          </div>
        </div>
      </div>
      <div class="nav-burger">
        <div class="line"></div>
        <div class="text">Menu</div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</header>
<section id="banner" class="banner">
  <div class="container">
    <div class="banner-content-wrapper">
      <div class="banner-content">
        {{#banner}}
          <h1>{{﻿bannerTitle}}</h1>
          <p>{{﻿bannerDesc}}</p>
          <a class="contact-btn" href="{{﻿btnHref}}">{{﻿bannerBtn}}</a>
        {{/banner}}
      </div>
    </div>
  </div>
</section>
<section id="aboutSchool" class="about-school">
  <div class="container">
    {{#﻿aboutSchool}}
      <div class="header-section-wrapper">
        <h3>{{﻿sectionTitle}}</h3>
        <div class="background-section-text">{{﻿sectionTitle}}</div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="{{﻿aboutSchoolImg}}" alt=""/>
        </div>
        <div class="col-lg-8">
          {{#﻿aboutSchoolText}}
            <p>{{﻿text}}</p>
          {{/﻿aboutSchoolText}}
        </div>
      </div>
    {{/﻿aboutSchool}}
  </div>
</section>
<section id="courses" class="courses">
  <div class="container">
    {{#courses}}
      <div class="header-section-wrapper">
        <h3>{{﻿sectionTitle}}</h3>
        <div class="background-section-text">{{﻿sectionTitle}}</div>
      </div>
      <div class="row">
        {{#courseItem}}
          <div class="col-lg-4">
            <div class="item-wrapper">
              <div class="start-course">{{﻿startCourse}}</div>
              <img src="{{﻿courseImg}}" alt="{{﻿altImg}}"/>
              <h3 class="name">{{﻿courseTitle}}</h3>
              <div class="button-block">
                <h4>{{﻿subTitle}}</h4>
                <span class="prices">{{﻿prices}}</span>
                <div class="duration">{{﻿duration}}</div>
              </div>
              <a class="link" href="{{﻿linkHref}}">{{﻿linkText}} <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        {{/courseItem}}
      </div>
    {{/courses}}
  </div>
</section>
<section id="ourTeaches" class="our-teaches">
  <div class="container">
    {{#ourTeaches}}
      <div class="header-section-wrapper">
        <h3>{{﻿sectionTitle}}</h3>
        <div class="background-section-text">{{﻿sectionTitle}}</div>
      </div>
      <div class="slider-teaches">
        {{#sliderTeaches}}
          <div class="item-wrapper">
            <div class="photo-wrapper">
              <img src="{{﻿itemImg}}" alt=""/>
            </div>
            <div class="name"{{﻿itemName}}</div>
            <div class="position">{{﻿position}}</div>
            <div class="about">
              <p>{{﻿about}}</p>
            </div>
          </div>
        {{/sliderTeaches}}
      </div>
    {{/ourTeaches}}

    <!--
     <div class="slider-teaches">
      <div class="item-wrapper">
        <div class="photo-wrapper">
          <img src="https://previews.123rf.com/images/martinussumbaji/martinussumbaji1608/martinussumbaji160800009/62244413-jesus-face-silhouette-art-design.jpg" alt="">
        </div>
        <div class="name">Лимаренко Денис</div>
        <div class="position">Front-end developer</div>
        <div class="about">
          <p>
            В разработке более 3.5 лет. Опыт в верстке сайтов различной сложности от лендингов и
            одностраничных сайтов до интернет-магазинов. Разработка сайтов с использованием
            СМS/Wordpress.
          </p>
        </div>
      </div>
      <div class="item-wrapper">
        <div class="photo-wrapper">
          <img src="https://previews.123rf.com/images/martinussumbaji/martinussumbaji1608/martinussumbaji160800009/62244413-jesus-face-silhouette-art-design.jpg" alt="">
        </div>
        <div class="name">Лимаренко Денис</div>
        <div class="position">Front-end developer</div>
        <div class="about">
          <p>
            В разработке более 3.5 лет. Опыт в верстке сайтов различной сложности от лендингов и
            одностраничных сайтов до интернет-магазинов. Разработка сайтов с использованием
            СМS/Wordpress.
          </p>
        </div>
      </div>
      <div class="item-wrapper">
        <div class="photo-wrapper">
          <img src="https://previews.123rf.com/images/martinussumbaji/martinussumbaji1608/martinussumbaji160800009/62244413-jesus-face-silhouette-art-design.jpg" alt="">
        </div>
        <div class="name">Лимаренко Денис</div>
        <div class="position">Front-end developer</div>
        <div class="about">
          <p>
            В разработке более 3.5 лет. Опыт в верстке сайтов различной сложности от лендингов и
            одностраничных сайтов до интернет-магазинов. Разработка сайтов с использованием
            СМS/Wordpress.
          </p>
        </div>
      </div>
      <div class="item-wrapper">
        <div class="photo-wrapper">
          <img src="https://previews.123rf.com/images/martinussumbaji/martinussumbaji1608/martinussumbaji160800009/62244413-jesus-face-silhouette-art-design.jpg" alt="">
        </div>
        <div class="name">Лимаренко Денис</div>
        <div class="position">Front-end developer</div>
        <div class="about">
          <p>
            В разработке более 3.5 лет. Опыт в верстке сайтов различной сложности от лендингов и
            одностраничных сайтов до интернет-магазинов. Разработка сайтов с использованием
            СМS/Wordpress.
          </p>
        </div>
      </div>
      <div class="item-wrapper">
        <div class="photo-wrapper">
          <img src="https://previews.123rf.com/images/martinussumbaji/martinussumbaji1608/martinussumbaji160800009/62244413-jesus-face-silhouette-art-design.jpg" alt="">
        </div>
        <div class="name">Лимаренко Денис</div>
        <div class="position">Front-end developer</div>
        <div class="about">
          <p>
            В разработке более 3.5 лет. Опыт в верстке сайтов различной сложности от лендингов и
            одностраничных сайтов до интернет-магазинов. Разработка сайтов с использованием
            СМS/Wordpress.
          </p>
        </div>
      </div>
    </div>
     -->

  </div>
</section>
<section id="contacts" class="contacts">
  <div class="container">
    <div class="header-section-wrapper">
      <h3>Контакты</h3>
      <div class="background-section-text">Contacts school</div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="map-wrapper"></div>
      </div>
    </div>
    <div class="row">
      <div class="contact-form-wrapper">
        <h6>СВЯЗАТЬСЯ С НАМИ</h6>
        <form action="">
          <div class="input-top-wrapper">
            <div class="input-wrapper">
              <input placeholder="Имя" type="text">
              <span class="valid-message">sadasdas sadadsad asdasdasas</span>
            </div>
            <div class="input-wrapper">
              <input placeholder="E-mail" type="email">
            </div>
            <div class="input-wrapper">
              <input placeholder="Телефон" type="tel">
            </div>
          </div>
          <textarea placeholder="Сообщение"></textarea>
          <button class="contact-btn">Send a message</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="contact-details">
        <div class="email-block">
          <ul>
            <li class="email"><a href="mailto:hello@jsdaddy.com">hello@jsdaddy.com</a></li>
            <li class="email"><a href="mailto:hello@jsdaddy.com">hello@jsdaddy.com</a></li>
          </ul>
          <div class="social">
            <ul>
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="tel-block">
          <ul>
            <li class="tel"><a href="tel:+35623157586">+38 (096) 226 40 32</a></li>
            <li class="tel"><a href="tel:+35623157586">+38 (095) 202 46 03</a></li>
          </ul>
        </div>
        <div class="address-block">
          <ul>
            <li>Kharkiv, Ukraine</li>
            <li>67 Highhill Street., Apt. 20</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="copyright">
    Copywriting &#9400; 2018 JSdaddy
  </div>
</footer>
</body>
</html>