// - layout.pug
html
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115295105-1")
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-115295105-1');
        script.
          !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
              n.callMethod ?
                  n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
          }(window, document, 'script',
              'https://connect.facebook.net/en_US/fbevents.js'
          );
          fbq('init', '190979394957908');
          fbq('track', 'PageView');
        if head
            title #{head.title}
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        if head
            each meta in head.meta
                meta(name=meta.name, content= meta.content)
        meta(property='og:image', content='path/to/image.jpg')
        meta(name='format-detection', content='telephone=no')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        link(rel='shortcut icon', href='', type='image/x-icon')
        link(rel='apple-touch-icon', href='')
        link(rel='apple-touch-icon', sizes='72x72', href='')
        link(rel='apple-touch-icon', sizes='114x114', href='')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
        link(rel='stylesheet', href='https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css')
        link(rel='stylesheet', href='/css/slick.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/public/css/slick.css')
        //- link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel='stylesheet', href='/css/slick-theme.css')
        link(rel='stylesheet', href='/css/site.min.css')
        link(rel='icon', href='/img/favicon.ico')
        link(rel='stylesheet' href='/css/main.min.css')
        link(rel="stylesheet" href="css/animate.css")
    body
        if mainMenu
            header
                #header.default
                    .container#header
                        .row.align-items-center.justify-content-between
                            .col-2.logo
                                a(href='#')
                                    img(src='/img/logo.png', alt="JsDaddy")
                            .nav-wrapper.col-lg-10
                                nav
                                    ul#menu-wrap
                                        li
                                            a(href='#services' class="link-nav") Services
                                        li
                                            a(href='#dev-process' class="link-nav") Development Process
                                        li
                                            a(href="#technologies" class="link-nav") Technologies
                                        li
                                            a(href="#header" class="link-nav") Portfolio
                                        li
                                            a(href="#testimonials" class="link-nav") Testimonials
                                        li
                                            a(href="#about-us" class="link-nav") About Us
                                .btn-wrap
                                    a(href=".popup-form" class="btn contact_us_btn") Contact Us
                            .nav-burger
                                .line
                                .line-middle
                                .line
            // popup
            //- form.popup-from.mfp-hide.white-popup-block
            //-     h3 Contact Us
            //-     .popup-form__input-wrapper
            //-         label(for="name") Name
            //-         input#name(name="name", type="text")
            //-         p.popup-form__input-wrapper_invalid-message#name_error This field can not be empty
            //-     .popup-form__input-wrapper
            //-         label(for="email") Email,
            //-         input#email(name="email", type="email")
            //-         p.popup-form__input-wrapper_invalid-message#email_error This field must contain valid email
            //-     .popup-form__input-wrapper
            //-         label(for="Textarea") Message
            //-         textarea#message
            //-         p.popup-form__input-wrapper_invalid-message#textarea_error This field can not be empty
            //-     .popup-form__btn-wrapper
            //-         button.btn#form__submit Contact Us
            //-     .success-message
            //-         .success-message__icon
            //-             i.fa.fa-check(aria-hidden="true")
            //-         span Success!
        block content

        footer
            .container#footer
                .row
                    .footer-wrapper
                        .contacts
                            .contacts__logo
                                a(href="#")
                                    img(src="/img/logo.png", alt="JsDaddy") 
                            .contacts__email 
                                a(href="mailto:info@jsdaddy.io") 
                                    i(class="fa fa-envelope-o", aria-hidden="true") 
                                    |info@jsdaddy.io 
                            .contacts__skype 
                                a(href="skype:juncker8888") 
                                    i(class="fa fa-skype" aria-hidden="true") 
                                    |juncker8888     
                            .contacts__addres Kharkiv, Ukraine
                        .navigation-footer
                            ul
                                li
                                    a(href="#services") Services
                                li
                                    a(href="#dev-process") Development Process
                                li
                                    a(href="#technologies") Technologies
                                li
                                    a(href="#header") Portfolio
                                li
                                    a(href="#testimonials") Testimonials
                                li 
                                    a(href="#footer") About Us 
                        .social Social
                            ul
                                li
                                    a(href="https://www.facebook.com/JSDaddyUkraine/" class="facebook")
                                        i(class="fa fa-facebook")
                                li
                                    a(href="https://www.linkedin.com/company/jsdaddy/" class="linkedin")
                                        i(class="fa fa-linkedin")
                                li
                                    a(href="https://github.com/JsDaddy" class="github")
                                        i(class="fa fa-github")                                                            
            .copy-wrapper
                .container
                    .row
                        .col-lg-12 Copyright Ⓒ 2017-2018 JSdaddy

        block script
            script(src='/js/common.min.js')
            script(src='/js/main.min.js')

        script.
          var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
          (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5afd6518227d3d7edc25680d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
          })();