.about-us
    width: 100%
    position: relative
    p
        margin-bottom: 20px
        text-align: justify
    &__img
        position: relative
        display: flex
        flex-direction: column
        img
            max-width: 100%
        &:before
            content: ''
            display: inline-block
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            background: rgba(0,0,0,.6)

.header-section-wrapper
    width: 100%
    position: relative
    h3
        position: relative
        font-size: 40px
        z-index: 1

.item-wrapper
    display: inline-flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 0 15px
    padding-bottom: 40px
    .name
        width: 100%
        font-weight: 700
        font-size: 20px
        text-align: center
        margin-bottom: 10px
    .position
        width: 100%
        text-align: center
        margin-bottom: 10px
        text-transform: uppercase
        font-size: 13px
        font-weight: 400
    .soc-link
        a
            text-decoration: none
            color: #383838
    .fa
        font-size: 30px
        &:hover
            color: #007bff
    .photo-wrapper
        display: block
        margin: 0 auto 35px auto
        width: 180px
        filter: grayscale(100%)
        &:hover
            cursor: pointer
            filter: grayscale(0%)
        img
            width: 180px
            height: 180px
            border-radius: 50%
        font-size: 130px
