@import "variables"

header
  width: 100%
  min-height: 110px
  background-color: $grey-header
  display: flex
  padding-top: 25px
  z-index: 50
  box-shadow: 10px 0 43px rgba(37, 25, 0, 0.11)
  position: fixed
  top: 0
  left: 0
  transition: width 0.15s ease, padding-top ease 0.15s, min-height ease 0.15s
  &.fixed-header
    padding: 10px
    min-height: inherit
    .logo
      width: 110px
  .content-header-wrapper
    justify-content: space-between
    align-items: center
  .logo
    display: flex
    align-items: center
    margin-right: 25px
    width: 20%
    max-width: 142px
  .lang-checker
    display: inline-flex
    margin-right: 35px
    position: relative
    cursor: pointer
    .select
      display: inline-flex
      flex-direction: row
      li
        font-size: 0.87rem
        font-weight: 400
        width: 35px
        height: 35px
        margin-right: 5px
        background: transparent
        border-radius: 50%
        display: inline-flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        border: 2px solid transparent
        overflow: hidden
        transition: all ease 0.15s
        a
          text-decoration: none
          color: $text-color
          width: 100%
          height: 100%
          display: inline-flex
          align-items: center
          justify-content: center
          &:hover
            color: $text-color
        &:hover
          background: $yellow
        &.active
          border: 2px solid $yellow
  .navigation-wrapper
    display: flex
    flex-direction: row
    width: 85%
    justify-content: flex-end
    align-items: center
  nav
    display: flex
    margin-right: 50px
    ul
      font-size: 0
    li
      display: inline-block
      margin-right: 29px
      position: relative
      &:last-of-type
        margin-right: 0
      &:hover a .fa
        padding: 0 8px 0 0
        transform: rotate(180deg)
      a
        font-family: $montserrat-font
        font-size: 0.9375rem
        font-weight: 600
        position: relative
        &:before
          content: ''
          display: block
          height: 5px
          width: 0
          position: absolute
          left: 0
          bottom: -5px
          background: transparent
          transition: width 0.7s ease
        &:hover
          text-decoration: none
          color: $text-color
          &:before
            background: $yellow
            width: 100%
        &.active
          &:before
            background: $yellow
            width: 100%
        .fa
          font-weight: bold
          display: inline-block
          padding: 0 0 0 8px
          font-size: 0.9375rem
      &.sub-menu:hover
        .sub-nav
          display: block
      .sub-nav
        display: none
        position: absolute
        top: 100%
        left: -10px
        width: 100%
        min-width: 220px
        padding: 10px
        background-color: $grey-header
        border-bottom: 4px solid $yellow
        li
          margin: 0
          padding: 8px 0
          display: block
          a
            padding: 0 0
            &:before
              height: 3px
              bottom: -3px
  .right-header-block
    display: flex
    flex-direction: row
    align-items: center
    .tel-wrapper
      width: 150px
      display: inline-flex
      flex-direction: column
      align-items: center
      justify-content: center
      a
        cursor: pointer
        position: relative
        &:hover
          color: $text-color
          text-decoration: none
  .social
    display: flex
    ul
      font-size: 0
      li
        display: inline-block
        margin-right: 25px
        &:last-of-type
          margin-right: 0
        a
          font-size: 1.3125rem
          line-height: 1.3125rem
          color: $social-ico-default
          transition: all 0.2s ease
          &.facebook
            &:hover
              color: $facebook-color
          &.linkedin
            &:hover
              color: $linkedin-color
          &.github
            &:hover
              color: $black
  .contact-btn-wrapper
    display: flex
    align-items: flex-start
    margin-left: 37px

.contact-btn
  background: $yellow
  text-decoration: none
  font-size: 0.875rem
  font-weight: 600
  color: $black
  line-height: 2.8125rem
  width: 170px
  display: inline-block
  text-align: center
  position: relative
  letter-spacing: 0
  transition: all 280ms ease-in-out
  box-sizing: border-box
  &:after,
  &:before
    backface-visibility: hidden
    border: 1px solid rgba($yellow, 0)
    bottom: 0
    content: " "
    display: block
    margin: 0 auto
    position: relative
    transition: all 280ms ease-in-out
    width: 0
  &:hover
    text-decoration: none
    letter-spacing: 5px
    background: transparent
    color: $black
    &:after,
    &:before
      backface-visibility: hidden
      border-color: $yellow
      transition: width 350ms ease-in-out
      width: 100%

.nav-burger
  width: 50px
  cursor: pointer
  transition: all .35s
  .line
    height: 5px
    width: 50px
    background-color: $yellow
    transition: all .35s
    position: relative
  .text
    margin: 5px 0
    text-align: center
    text-transform: uppercase
    line-height: 1.3rem
    font-size: 0.98rem
    font-weight: 600
    transition: all .35s

.nav-burger.active
  .line
    position: relative
    &:first-child
      transform: rotate(45deg) translate(45px, -25px)
      right: 50px
      top: 6px
    &:last-child
      transform: rotate(-45deg) translate(45px, -25px)
      top: 34px
      right: 15px
  .text
    opacity: 0
    font-size: .25em