@import "vars"

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	header
		position: relative
		.nav-wrapper
			display: none
			max-width: 100%
			box-shadow: 0 10px 10px rgba(224, 224, 224, 0.9)
			background: #ffffff
			flex-direction: column
			justify-content: center
			align-items: center
			position: absolute
			top: 100%
			left: 0
			right: 0
			text-align: center
			padding-top: 30px
			padding-bottom: 30px
			z-index: 20
			&.active 
				display: inline-flex
				text-align: center
			nav
				margin-bottom: 30px
				ul
					display: inline-flex
					flex-direction: column
					align-items: center
				li	
					padding: 10px
					margin-left: 0 !important
		.btn-wrap
			margin-left: 0
			.btn
				margin: 0px 5px 15px 0
		.nav-burger
			display: block
			cursor: pointer
			.line 
				margin: 5px
				height: 5px
				width: 45px
				background-color: #fc0
				transition: all .35s
				position: relative
			.line-middle
				margin: 5px
				height: 5px
				width: 45px
				background-color: #fc0
				transition: all .35s
				position: relative
		.nav-burger.active .line-middle
			display: none				
		.nav-burger.active .line:first-child
			top: 10px
			transform: rotate(135deg)
		.nav-burger.active .line:last-child
			top: 0
			transform: rotate(-135deg)
		.nav-burger .line-middle
			display: block				
						
	.right-col
		margin-left: 10px
	.left-col
		margin-right: 10px
.solution
	max-height: 284px
	min-height: 316px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1000px)
	.dev-process 
		.step-wrapper 
			.center-col
				display: none
	.scrollup
		display: none !important	

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.dev-process 
		.step-wrapper 
			.center-col
				width: 260px
    			height: 260px
	.advantages-wrapper 
		.advantages__item
			width: 90%
@media only screen and (max-width : 800px)
	.project
		margin-bottom: 30px
	.dev-process 
		.step-wrapper 
			.center-col
				display: none	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.technologies .icon
		height: 140px
		width: 120px
	.service
		    margin-bottom: 60px
	.dev-process 
		.step-wrapper
			margin-top: 0
			flex-direction: column
			.center-col
				display: none
	.dev-process 
		.step-wrapper 
			.right-col 
				.step
					margin-bottom: 30px	
					.ico-wrap
						margin-left: 20px
				span
					font-size: 35px	
			.left-col
				margin-right: 0
				margin-bottom: 30px				
				.step
					flex-direction: row-reverse
					margin-bottom: 30px
					.ico-wrap
						margin-right: 25px
					.text-wrap
						text-align: left			

	.step.planing
		border-radius: 0
	.contact-us__wrapper
		flex-direction: column
		p
			margin-bottom: 30px
			margin-right: 0
			text-align: center
	.about-services__text
		p
		text-align: center
	.sub-header
		border-radius: 0
	.about-us__text
		margin-bottom: 30px
	.team
		text-align: center
	.background-about-text
		font-size: 120px					
/* Extra Small Devices, Phones */
@media only screen and (max-width : 572px)
	.banner__content
		margin-left: 20px
	.nav-burger
		margin-right: 15px
	.banner-second__web	p
		margin: 0 15px 50px 15px
	.about-us__text
		text-align: center
	.background-about-text
		font-size: 100px
	.header-section-wrapper h3
		font-size: 50px				

/* Extra Small Devices, Phones */
@media only screen and (max-width : 556px)
	header 
		.nav-burger
			margin-right: 15px
	.service
		margin-bottom: 30px		
	.banner__content
		margin-left: 20px
	section
		padding: 30px 0
	.banner h1
		font-size: 55px		
	section h3
		font-size: 25px
	section 
		.services-items-wrapper 
			.item
				height: 300px
		.sub-header
			margin: 0 auto 50px auto		
	.advantages-wrapper 
		.advantages
			margin-left: 15px
	.advantages-wrapper 
		.advantages__item-text
			font-size: 14px
	.slick-next
		display: none
	.testimonials-wrapper	
		padding: 20px 10px
	footer
		padding: 40px 0 0 0 
		.contacts
			margin-left: 15px
		.social
			margin-right: 15px	
			font-size: 15px	
			ul li a
				font-size: 20px	
		.contacts__email a, footer .contacts__skype a
			font-size: 14px
		.contacts__addres
			font-size: 14px
		.navigation-footer ul li a
			font-size: 14px
		.contacts__email i, footer .contacts__skype i
			font-size: 15px
	.copy-wrapper
		margin-top: 40px
	footer
		.contacts
			margin-left: 0
			text-align: center
		.social
			margin-top: 15px
			margin-right: 0
			align-items: center
			ul 
				li:first-child
					margin-left: 0
		.navigation-footer
			display: none	
		.footer-wrapper
			align-items: center
			flex-direction: column
			>div
				border-right: none		
	.copy-wrapper
		    margin-top: 20px
	.background-about-text
		font-size: 80px					
		
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.banner h1
		font-size: 41px
	.banner p
		margin-bottom: 20px
	section 
		.sub-header
			margin: 0 auto 60px auto
			padding: 0 15px	
		.services-items-wrapper 
			.item
				height: 250px
				.item a			
					padding: 10px
			.item__icon
				min-height: 95px
				width: 95px		

	.dev-process 
		.step-wrapper 
			.left-col
				.step 
					.text-wrap h6
						font-size: 14px
					.text-wrap p
						font-size: 14px
				.ico-wrap span
					font-size: 35px
	.dev-process 
		.step-wrapper 
			.right-col 
				.step
					.ico-wrap
						margin-left: 27px
					.ico-wrap span
						font-size: 32px
					.text-wrap h6
						font-size: 14px
	 				.text-wrap p
						font-size: 14px	
	.technologies 
		.icon
			width: 100px
			height: 120px
	.advantages-wrapper 
		.advantages
			margin-left: 35px	
		.advantages__item-text
			font-size: 12px	
		.advantages__item-text h6
			font-size: 20px
		.advantages__item-icon img
			height: 70px
		.advantages__item-icon
			margin-right: 35px	
	footer
		padding: 30px 0 0 0
	footer 
		.navigation-footer 
			ul 
				margin: 0 10px
				li	
					margin-bottom: 2px
	footer .footer-wrapper img
		width: 100px
		height: 50px
	.copy-wrapper
		font-size: 10px
		margin-top: 20px
	.technologies 
		.icon
			&:hover img
				top: -9px
		.icon span
			font-size: 11px
		.icon:hover span
			bottom: 3px
	.banner-second p
		font-size: 14px
	.banner-second h1
		font-size: 35px	
	.header-section-wrapper
		.background-section-text
			font-size: 90px 
		h3
			font-size: 45px
	.header-section-wrapper h3
		font-size: 35px		

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px)
	.banner h1
		font-size: 45px
	.banner__content
		margin-right: 20px
	section h3
		font-size: 20px
	section 
		.sub-header
			margin: 0 auto 35px auto
		.services-items-wrapper 
			.item
				height: 260px
			.item__icon
				width: 75px
				min-height: 75px
	section 
		.short-header
			margin: 0 auto 15px auto
	section h3
		margin: 0 auto 15px auto
	.dev-process 
		.step-wrapper 
			.left-col 
				.step 
					.ico-wrap
						margin-left: 5px
					.text-wrap
						margin-right: 10px	
					.text-wrap h6
						font-size: 13px
					.text-wrap p
						font-size: 12px
					.text-wrap h6
						font-size: 13px
			.right-col 
				.step 
					.ico-wrap
						margin-left: 0
						margin-right: 32px
					.text-wrap h6
						font-size: 13px
					.text-wrap p
						font-size: 12px
					.text-wrap h6
						font-size: 13px
	.advantages-wrapper
		.advantages__item-icon
			margin: 0 auto
		.advantages__item-text
			text-align: center
		.advantages__item-text h6
			margin-top: 20px 
		.advantages__item
			flex-direction: column
		.advantages__item-text:before
			top: 5px
			width: 90px
			left: 50%
			height: 3px
			transform: translate(-50%, -50%)						
	.technologies 
		.icon
			height: 85px
			width: 70px
		.icon span
			font-size: 8px	
	footer 
		.contacts__email i 
			margin-right: 5px
		.contacts__skype i												
			margin-right: 5px
		.contacts__logo	
			margin-bottom: 5px
	.background-about-text
		top: 50px
		font-size: 65px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.banner h1
		font-size: 45px
	.banner p
		font-size: 15px
	.dev-process 
		.step-wrapper
			.step
			.left-col
				width: 275px
				.ico-wrap
					margin-right: 10px
			.right-col
				width: 275px
				.ico-wrap
					margin-right: 18px
	.technologies 
		.icon
			width: 60px
			height: 65px
			&:hover img
				top: -9px
		.icon span
			font-size: 7px
		.icon:hover span
			bottom: 4px
	footer
		.social
			margin-top: 3px
		.social	ul li a
			font-size: 15px
		.contacts__email 
			a
				font-size: 11px	
				i 
					margin-right: 4px
		.contacts__skype 
			a
				font-size: 11px
				i												
					margin-right: 4px
		.contacts__logo	
			margin-bottom: 2px
	.solution__header, .solution__text
		text-align: center
		.banner-second p
			font-size: 11px
		.banner-second h1
			font-size: 30px
	.item-wrapper 
		.photo-wrapper img
			height: 150px
			width: 150px
		.name
			font-size: 17px
		.position
			font-size: 11px
		.fa
			font-size: 25px			



/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px)
	header
		.container
			.nav-wrapper
				display: flex !important


