@import "variables"
.opensource
  padding-top: 200px
  .container
    display: flex
    flex-wrap: wrap
    .row
      border-bottom: 1px solid #cccccc
      padding-bottom: 45px
      margin-bottom: 45px
      position: relative
      &:nth-child(odd)
        .col-md-8
          order: 2
        .col-md-4
          order: 1
      &:last-child
        border-bottom: none
      &:nth-child(odd)
        .contact-btn-wrapper
          right: inherit
          left: 0
  .contact-btn-wrapper
    position: absolute
    right: 0
    bottom: 0
    .contact-btn
      vertical-align: middle
      width: 200px
      &:hover
        letter-spacing: 3px
      .fa
        font-size: 20px
        padding-left: 8px
        display: inline-block
        vertical-align: middle
  .text-block
    display: flex
    flex-wrap: wrap
    align-content: space-between
    padding-bottom: 60px
  .header-section-wrapper
    .background-section-text
      color: #f1f2f2