@import "variables"

.about-school
  p
    margin-bottom: 20px
.courses
  background: #f7f9f9
  .background-section-text
    color: #f1f2f2
  .item-wrapper
    width: 100%
    margin: 0 auto 50px auto
    max-width: 320px
    position: relative
    cursor: pointer
    box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, .24)
    transition: all .3s ease-in-out
    padding: 75px 15px 15px 15px
    background: $white url("/img/Yellow-polygonal-1.png") no-repeat 0 0
    background-size: contain
    border-bottom: 3px solid #ffcc00
    &:hover
      box-shadow: 6px 11px 18.8px 1.2px rgba(0, 0, 0, .24)
      .link
        opacity: 1
    .start-course
      position: absolute
      right: 0
      top: 15px
      float: right
      padding: 5px 15px
      background: #276BA4
      min-width: 110px
      text-align: center
      color: #fff
      font-family: $montserrat-font
      font-size: 0.9375rem
      font-weight: 300
      margin-bottom: 20px
    .course-type
      position: absolute
      font-weight: 300
      left: 0
      top: 15px
      padding: 5px 15px
      background: transparent
      min-width: 110px
      text-align: center
      &.course
        background: #276BA4
        color: #fff
      &.intensive
        background: #f74452
        color: $white
    h3
      margin-bottom: 15px
      width: 100%
      font-size: 2.3rem
      text-align: center
    .img-wrapper
      width: 150px
      height: 150px
      display: flex
      align-items: center
      justify-content: center
      background: $white
      margin: 0 auto 30px auto
      border-radius: 50%
      box-shadow: 0 0 30px rgba(0,0,0,0.1)
      img
        display: block
        max-height: 80px
        width: auto
    .bottom-block
      display: inline-flex
      flex-direction: column
      margin-bottom: 15px
      position: relative
      width: 100%
      .prices
        width: 100%
        text-align: center
        font-size: 1.45rem
        font-weight: 700
        color: #276BA4
      .duration
        font-weight: 300
        width: 100%
        text-align: center
        margin-bottom: 15px
    .link
      display: inline-flex
      align-items: center
      justify-content: center
      font-size: 1.2rem
      text-decoration: none
      font-family: $montserrat-font
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: rgba(0, 0, 0, 0.75)
      color: #fff
      opacity: 0
      transition: all ease 0.15s
      .fa
        display: inline-block
        margin-left: 10px

.item-wrapper
  display: inline-flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 0 15px
  .photo-wrapper
    display: block
    margin: 0 auto 35px auto
    width: 180px
    filter: grayscale(100%)
    transition: grayscale 0.15s ease
    &:hover
      filter: grayscale(0%)
      transition: grayscale 0.15s ease
    img
      transition: $transition-default
      width: 180px
      height: 180px
      border-radius: 50%
  .name
    width: 100%
    font-weight: 700
    font-size: 1.3rem
    text-transform: uppercase
    text-align: center
    margin-bottom: 10px
  .position
    width: 100%
    text-align: center
    margin-bottom: 10px
    text-transform: uppercase
    font-size: 0.8rem
    font-weight: 400
  p
    text-align: center
    font-weight: 300
    font-size: 0.9rem
  .fa
    font-size: 30px
    transition: $transition-default

.advantages
  background: #f7f9f9
  .background-section-text
    color: #f1f2f2
  .items-wrapper
    width: 100%
    display: inline-flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between
    .item
      min-width: 200px
      display: flex
      flex-direction: column
      .ico-wrap
        max-width: 80px
        max-height: 80px
        margin: 0 auto 30px auto
      p
        text-align: center
        font-weight: 400
        font-size: 0.9rem
        text-transform: uppercase